<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LoginMapper">

  <insert id="save" useGeneratedKeys="true" keyProperty="userId">
    insert into login(userId, password) values(#{userId}, #{password})
  </insert>
  <select id="searchByUserId" resultType="com.example.demo.domain.Login">
    select * from login where userId= #{userId}
  </select>
  <select id="searchByUserPassword" resultType="com.example.demo.domain.Login">
    select * from login where userId= #{userId} and password=#{password}
  </select>
  <update id="update">
    update login set password=#{password} where userId= #{userId}
  </update>
</mapper>